@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header, footer {
  background-color: #111;
  width: 100vw;
  height: 30vh;
}

nav ul {
  background-color: rgb(55, 128, 196);
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
}